div.about-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 100px 0;
}

div.about-header {
    font-size: 22pt;
    font-weight: bold;
    color: #333;
}

div.header-line {
    border-bottom: 3px solid;
    padding-top: 10px;
    width: 50px;
    margin: auto;
}