div.about-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 0;
    text-align: center;
}

div.header {
    font-size: 25pt;
    font-weight: bold;
    color: #333;
    margin: 20px;
    opacity: .8;
}

div.header-line {
    border-bottom: 3px solid;
    padding-top: 10px;
    width: 50px;
    margin: auto;
    opacity: .8;
}

div.skills-outer-container {
    padding: 20px;
}

div.skills-inner-container {
    margin-top: 20px;
    margin-bottom: 20px
}

img.skill-img {
    width: 125px;
    margin: 10px 50px;
}

div.personal-info-container {
    text-align: center;
}

img.profile-img {
    width: 400px;
    display: block;
    transform:rotate(45deg);
    transform-origin: top center;
    margin-left: 26px;
}

div.info-container {
    width: 60%;
    margin: auto;
}

.wrap {  
    display: inline-block;
    margin:50px;
    overflow:hidden;
    width:200px;
    height:200px;
    border-radius: 3px;
    transform:rotate(45deg);
    border: 1px solid whitesmoke;
  }

  