div.main-container{
    width: 100vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}

div.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    color: #fff;
}

div.text{
    font-size: 22pt;
    text-align: center;
}

div.learn-btn-container{
    text-align: center;
}

button.learn-btn{
    font-size: 16pt;
    margin-top: 10px !important;
    background-color: transparent;
    border: 1px solid;
    border-color: #fff;
    color: #fff;
    padding: 10px;
    display: flex;
    margin: auto;
}

button.learn-btn:hover{
    cursor: pointer;
}

img.arrow{
    margin-left: 2px;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow: hidden;
}

button.learn-btn:hover img.arrow {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
}

span.name {
    color: blueviolet;
}